.ProductContainer {
  display: flex;
  gap: 20px;
  
  flex-wrap: wrap;
  padding: 10px 20px;
}
.ProductCard {
  max-width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.imgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
}
.ProdImg {
  width: 100%;
  border-radius: 8px;
}

.addToBtn {
  border: 1px solid var(--text-highlighting);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  width: 170px;
  border-radius: 50px;
  margin-top: -20px;
  background-color: #fff;
  cursor: pointer;
  color: var(--text-main);
  font-weight: 400;
  
}
.addToBtn:hover{
  color:var(--text-highlighting);
}

.productName {
  font-size: 0.8rem;
  color: var(--text-secondary);
}
.productTitle {
  font-size: 1.3rem;
  color: var(--text-main);
}
.productPrice {
  font-size: 1.3rem;
  color: var(--text-highlighting);
}
