*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Inter';
  
}
body{
    background-color: var(--bg-main);
}

:root {
  --bg-main: #f4edeb;
  --text-highlighting: #c73a0f;
  --text-main: #260f08;
  --text-secondary: #c9aea6;
}

main{
    margin:20px;
    display: flex;
    gap: 15px;
    
}